.card {
  position: absolute;
  top: -2px;
  left: -2px;
  border-radius: var(--border-radius-l);
  background: var(--main-color);
  display: grid;
  gap: 30px;
  padding: var(--padding-l);
  padding-bottom: var(--padding-xs);
  height: 150px;
  width: calc(100% + 4px);
  z-index: 2;
  transition: all 0.1s ease;

  @media (max-width: 380px) {
    padding: var(--padding-m);
    padding-bottom: var(--padding-xs);
  }

  &.not_active {
    background: var(--light-grey);
  }
}