.add_city_btn {
  border-radius: var(--border-radius-xl);
  border: var(--border-width-main) solid var(--light-grey);
  background: var(--dark-grey);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--height-main);
  width: var(--height-main);

  svg {
    width: 20px;
    height: 20px;
  }
}
