.container {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    background: url("@/shared/assets/images/authBg.png") no-repeat left;
    background-size: cover;
    height: 100vh;
    height: 100dvh;
    width: 100%;
    z-index: -1;

    @media (max-width: 500px) {
        background: url("@/shared/assets/images/authBg.png") no-repeat;
        background-size: cover;
        max-width: 500px;
    }
}

.coming_soon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 74px);
    height: calc(100svh - 84px);
    opacity: 0.4;
    animation: fadeIn 1.5s ease forwards;
    transform: scale(1);

    img {
        width: 50vw;
        height: 50vw;
    }
}

@keyframes fadeIn {
    0% { opacity: 0.4; transform: scale(1.05); }
    100% { opacity: 1; transform: scale(1);}
  }
