.cities {

    &__title {
        color: var(--main-color);
        font-size: 18px;
        font-weight: 500;
        text-transform: uppercase;

        @media (max-width: 380px) {
            font-size: 16px;
        }
    }

    .carousel {
        width: calc(100% - 92px);
        flex: 1 1;
    }
}