.card__container {
    position: relative;
    height: 150px;
    width: calc(100% - 4px);
    background: var(--dark-grey);
    border-radius: var(--border-radius-l);
    border: 2px solid var(--light-grey);

    .delete {
        position: absolute;
        top: 0;
        right: 0;
        width: 70px;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        svg {
            width: 34px;
            height: 34px;
        }
    }

    .inputs {
        display: grid;
        grid-template: 1fr / 1fr min-content 1fr;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 380px) {
            gap: 10px
        }

        .input__block {
            display: grid;
            grid-template: 1fr / 34px 1fr;
            gap: 10px;
            position: relative;

            .icon {

                img {
                    width: 34px;
                    height: 34px;
                }
            }

            .code {
                position: absolute;
                left: 0;
                font-size: var(--text-sm);
                bottom: -25px;

                max-width: 100px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .card__active {
        display: grid;
        align-items: center;
        grid-template: 1fr / 0.1fr 1fr;
        gap: 10px;

        .switcher {
            margin-top: 5px;
        }

        .text {
            text-transform: uppercase;
            font-size: var(--text-xs);
            font-weight: 400;
        }
    }
}