.card__container {
    height: 150px;
    border-radius: var(--border-radius-l);
    background: var(--main-color);
    display: grid;
    gap: 30px;
    padding: var(--padding-l);
    padding-bottom: var(--padding-xs);

    &.not_active {
        background: var(--light-grey);
    }

    .inputs {
        display: grid;
        grid-template: 1fr / 1fr min-content 1fr;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 380px) {
            gap: 10px
        }

        .input__block {
            display: grid;
            grid-template: 1fr / 34px 1fr;
            gap: 10px;
            position: relative;

            .icon {
                border-radius: 999px;
                overflow: hidden;

                img {
                    width: 34px;
                    height: 34px;
                }
            }

            .code {
                position: absolute;
                left: 0;
                font-size: var(--text-sm);
                bottom: -25px;
                font-weight: 400;

                max-width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
    }

    .card__active {
        display: grid;
        align-items: center;
        grid-template: 1fr / 0.1fr 1fr;
        gap: 8px;
        position: relative;

        .switcher {
            margin-top: 5px;
        }

        .text {
            text-transform: uppercase;
            font-size: 10px;
            font-weight: 500;

            @media (max-width: 400px) {
                font-size: 9px;
            }
        }

        .delete {
            position: absolute;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            right: 0;
            width: 24px;
            z-index: 1;

            button {
                width: 24px;
                height: 24px;
                color: black;

                svg {
                    width: 100%;
                    height: auto;
                    stroke-width: 1.2px;
                }
            }
        }
    }
}