.card {
  display: grid;
  grid-template: 1fr / 35px 1fr 70px;
  align-items: center;
  gap: 10px;
  background: var(--light-grey);
  height: var(--height-main);
  border-radius: var(--border-radius-xl);
  padding-left: var(--padding-m);

  .icon {
    width: 34px;
    height: 34px;
    position: relative;

    img {
      position: absolute;
    }
  }

  .name {
    font-size: var(--text-sm);
    white-space: nowrap;
    width: 90px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    font-weight: 400;
  }

  .settings_btn {
    background: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--height-main);
    height: var(--height-main);
    border-radius: var(--border-radius-xl);
    border: var(--border-width-main) solid var(--light-grey);
  }
}

.card_active {
  background: var(--main-color);
}
