@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import "reset.scss";
@import "variables.scss";

body {
  font-family: "Montserrat", sans-serif;
  padding-top: var(--container-padding-top);

  &.sidebar-open {
    overflow: hidden;

    &::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      transition: opacity 1s ease-in;

      backdrop-filter: blur(3px);
    }
  }
}

.main_layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  header,
  footer {
    flex-shrink: 0;
  }

  main {
    flex-grow: 1;
    overflow-y: auto;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: var(--modal-z-index - 1);
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding-side);
  margin: 0 auto;
}

.sidebar {
  padding-left: 75px;
}
