.second__container {
    padding-top: 20px;
    padding-left: var(--padding-m);
    padding-right: var(--padding-m);

    @media (max-width: 380px) {
      padding-left: var(--padding-xs);
      padding-right: var(--padding-xs);
    }
    // overflow: auto;

    .second__header {
        margin-bottom: 50px;

        &.is_empty_title {
            margin-bottom: 60px;
        }

        .logo_big {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
    
            svg {
                width: 50vw;
                height: 100%;
                max-width: 250px;
            }
        }
    
        .logo_small {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 60px;
    
            svg {
                width: 90px;
                height: 100%;
            }
        }

        .back {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;

            .back__icon {
                position: absolute;
                left: 0;
                top: 0;
            }

            p {
                font-size: var(--text-xl);
                color: var(--main-color);
                font-weight: 500;
                max-width: 80%;
                text-transform: uppercase;
                text-align: center;
                line-height: 1.1;
            }
        }
    }
}
