.cities {

    &__title {
        color: var(--main-color);
        font-size: 22px;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: var(--padding-l);
    }

    .carousel {
        width: calc(100% - 92px);
    }
}