.add_city_btn {
    border-radius: 100%;
    border: 2px solid var(--light-grey);
    height: 80px;
    width: 80px;
    background: var(--dark-grey);
    display: flex;
    justify-content: center;
    align-items: center;
}