.main__container {
    // height: 100vh;
    // height: 100svh;

    .main__content {
        height: calc(100svh - 68px);
        overflow: auto;
        padding: var(--padding-m);

        @media (max-width: 380px) {
          padding: var(--padding-xs);
        }
    }

    .main__footer {
        position: fixed;
        max-width: var(--container-width);
        width: 100%;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%);
    }
}