.create_btn {
  height: var(--height-main);
  display: flex;
  justify-content: center;
  align-items: center;
  background: #2d2d2d;
  color: var(--white-color);
  border: var(--border-width-main) solid var(--light-grey);
  padding: 25px;
  border-radius: var(--border-radius-xl);
}
