.submit_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    background: var(--dark-grey);
    color: var(--main-color);
    border: 2px solid var(--light-grey);
    padding: 25px;
    border-radius: 50px;
    height: 70px;
    width: 100%;
}

.success {
    animation: successRes 0.7s;
  }
  
  @keyframes successRes {
    0% {
      border: 2px solid var(--light-grey);
      box-shadow: 0px 0px 10px var(--main-color);
    }
    50% {
      border: 2px solid var(--main-color);
      box-shadow: 0 0 10px var(--main-color);
    }
    100% {
      border: 2px solid var(--light-grey);
      box-shadow: none;
    }
  }

.error {
    background: var(--light-grey);
}