.submit_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(---text-xl);
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  background: var(--dark-grey);
  color: var(--main-color);
  border: var(--border-width-main) solid var(--light-grey);
  padding: 25px;
  border-radius: var(--border-radius-xl);
  height: var(--height-main);
  width: 100%;

  @media (max-width: 380px) {
    font-size: var(---text-lg);
  }
}
