.root__container {
  height: 100vh;
  height: 100svh;
  max-width: var(--container-width);
  margin: 0 auto;
  padding: var(--padding-xl);

  @media (max-width: 380px) {
    padding: var(--padding-l);
  }

  .root__content {
    // overflow-y: auto;
    height: calc(100vh - 100px);
    height: calc(100svh - 100px);
    // overflow: hidden;
  }
}